flows.json
[{"id":"26a60f3e.6dadd","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4d43aea8.27acc","type":"inject","z":"26a60f3e.6dadd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":293,"wires":[["417e19eb.6c9ea8"]]},{"id":"dfacc5b5.200658","type":"debug","z":"26a60f3e.6dadd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":746,"y":105,"wires":[]},{"id":"417e19eb.6c9ea8","type":"function","z":"26a60f3e.6dadd","name":"token gen","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"943a54ae-b578-49ed-84ed-b8c4235d2249\"\nvar password=\"42ce3e4d-9a3d-402b-b829-09725d6ad0bc\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"it\",msg.payload.it)\nglobal.set(\"el\",msg.payload.el)\nglobal.set(\"un\",msg.payload.un)\nreturn msg;\n","outputs":1,"noerr":0,"x":280.5,"y":381,"wires":[["d08bb490.8f9368"]]},{"id":"7a33095d.1bf648","type":"ui_form","z":"26a60f3e.6dadd","name":"","label":"","group":"cedbe48f.c99e18","order":2,"width":0,"height":0,"options":[{"label":"Item","value":"it","type":"number","required":true},{"label":"Element","value":"el","type":"number","required":true},{"label":"Unit","value":"un","type":"number","required":true}],"formValue":{"it":"","el":"","un":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":84.5,"y":471,"wires":[["417e19eb.6c9ea8"]]},{"id":"bf17dfcc.0c691","type":"function","z":"26a60f3e.6dadd","name":"prediction","func":"var token=msg.payload.token;\nvar it=global.get(\"it\");\nvar el=global.get(\"el\");\nvar un=global.get(\"un\");\nmsg.payload={\"fields\":[\"Item\",\"Element\",\"Unit\",],\"values\":[[it,el,un]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;\n","outputs":1,"noerr":0,"x":374.5,"y":148,"wires":[["bf56650c.ed5908"]]},{"id":"bf56650c.ed5908","type":"http request","z":"26a60f3e.6dadd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/6ba47fc0-14be-4587-986a-69bdc8720d76/deployments/ecca37d8-277e-4c81-947a-733fb4189a7a/online","tls":"","proxy":"","authType":"basic","x":566,"y":53,"wires":[["4c3607a3.c4fd98"]]},{"id":"d08bb490.8f9368","type":"http request","z":"26a60f3e.6dadd","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":476,"y":465,"wires":[["bf17dfcc.0c691"]]},{"id":"4c3607a3.c4fd98","type":"function","z":"26a60f3e.6dadd","name":"output parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":622.5,"y":208,"wires":[["dfacc5b5.200658","c4e8ac84.6aca5"]]},{"id":"c4e8ac84.6aca5","type":"ui_text","z":"26a60f3e.6dadd","group":"cedbe48f.c99e18","order":3,"width":0,"height":0,"name":"","label":"predict","format":"{{msg.payload}}","layout":"row-spread","x":782,"y":286,"wires":[]},{"id":"cedbe48f.c99e18","type":"ui_group","z":"","name":"Default","tab":"a1f539d9.46f998","disp":true,"width":"6","collapse":false},{"id":"a1f539d9.46f998","type":"ui_tab","z":"","name":"predict","icon":"dashboard","disabled":false,"hidden":false}]